apify-client
transformers
streamlit
nltk
wordcloud
textblob
pandas
numpy
matplotlib
requests
torch
vaderSentiment
librosa
pyaudio
Thread
pybase64
pydub
opencv-python-headless
tensorflow
requests
streamlit_lottie
streamlit-webrtc
websockets