apify-client
transformers
streamlit
nltk
wordcloud
textblob
pandas
numpy
matplotlib
requests
torch
vaderSentiment
librosa
pyaudio
Thread
pybase64
pydub
opencv-python-headless
tensorflow
requests
streamlit_lottie
streamlit-webrtc
websockets
assemblyai
ibm_watson
ibm_cloud_sdk_core
watson_developer_cloud